.form {
    padding: 2rem;
    -webkit-box-shadow: 5px 3px 15px 0px #000000; 
    box-shadow: 5px 3px 15px 0px #000000;
}

.input {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 1rem;
}

.input label {
  font-size: 25px;
  margin-bottom: 1rem;
}

.input input {
  width: 15rem;
  padding: 10px;
}